{% extends 'base.html' %}

{% block title %}services {% endblock title %}

{% block body %}

<h8>This is "service" section of Yamuna Hostel website. It is further divided into three sections- 
    <br><img src="https://img.freepik.com/free-vector/cheap-inn-affordable-guesthouse-college-dormitory-motel-check-hostel-services-lower-priced-accommodation-best-hostel-facilities-concept_335657-694.jpg?w=2000" alt="Hostel Info" width="300" height="200">
    <br><b>Hostel Booking-</b> Information of Hostel No. booked by the student.
    <br><img src="https://e1.pxfuel.com/desktop-wallpaper/758/725/desktop-wallpaper-aesthetic-cartoon-room-cartoon-characters-aesthetic.jpg" alt="Room Info" width="100" height="200">
    <br><b>Room Info-</b> Specification of room is provided in this part.
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn12gQi20hbpFpOogben240S24rGIbLfQPXEkKJW61KS9sAnyuPDofIoLQvniKltWdv70&usqp=CAU" alt="Student Info" width="200" height="200">
    <br><b>Student Info-</b> It provides information about students who have made their booking which will include their personal information.</h8>
    {% endblock body %}
